<div class="numbersBook">
    <ul>
        {{#each users}}
            <li>
                {{#with .}}
                    <a
                            id="{{id}}"
                            class="elemString disabled-link"
                            href="/update?id={{id}}"
                    >
                    <p class="elem">{{name}}</p>
                    <p class="elem">{{number}}</p>
                    </a>
                {{/with}}
            </li>
        {{/each}}
    </ul>
</div>